* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-image: url(gato.jpg);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-top: 100 px;
  margin-left: 40rem;
  padding: 0;
}


.square {
  background: #fff;
  border: 3px solid rgb(103, 14, 14);
  float:left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  background-color: rgb(186, 143, 143);
}
.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
}

.description {
  font-style: italic;
  font-weight: bolder;
  margin: 5px;
  font-size: 20px;
  color: black;
  background-color: rgb(186, 143, 143);
}
